[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Internal-Job-Portal/api-gateway.git
	branch = main
[submodule "config"]
	path = config
	url = https://github.com/Internal-Job-Portal/config.git
	branch = main
[submodule "config-server"]
	path = config-server
	url = https://github.com/Internal-Job-Portal/config-server.git
	branch = main
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Internal-Job-Portal/eureka-server.git
	branch = main
[submodule "login-service"]
	path = login-service
	url = https://github.com/Internal-Job-Portal/login-service.git
	branch = main
[submodule "hr-service"]
	path = hr-service
	url = https://github.com/Internal-Job-Portal/hr-service.git
	branch = main
[submodule "job-service"]
	path = job-service
	url = https://github.com/Internal-Job-Portal/job-service.git
	branch = main
[submodule "employee-service"]
	path = employee-service
	url = https://github.com/Internal-Job-Portal/employee-service.git
	branch = main
[submodule "candidate-service"]
	path = candidate-service
	url = https://github.com/Internal-Job-Portal/candidate-service.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/Internal-Job-Portal/frontend.git
	branch = main
